@mixin speed($speed: 5s) {
    animation: img-animation $speed ease-out forwards;
}

.main-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    height: 3900px;

    img {
    width: 50%;

    &:hover {
    @include speed;
    }
    }
}

@keyframes img-animation {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.31);
        box-shadow: rgba(0, 0, 0, 0.9) 0px 22px 70px 4px;
    }
    100% {
        transform: scale(1.3);
        box-shadow: rgba(0, 0, 0, 0.9) 0px 22px 70px 4px;
        overflow: hidden;
    }
}

@media screen and (max-width: 899px){
    main {
        height: 2800px;
    }
}

@media screen and (max-width: 610px){
    main {
        height: 5000px;
    }
    main img {
        width: 100%;
    }
    main img:hover {
        animation: none;
        box-shadow: none; 
    }
}