main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    height: 3900px;
}

main img {
    width: 50%;
}

@keyframes img-animation {
    0%{
        transform: scale(1);
    }
    70%{
        transform: scale(1.31);
        box-shadow: rgba(0, 0, 0, 0.9) 0px 22px 70px 4px;
    }
    100%{
        transform: scale(1.3);
        box-shadow: rgba(0, 0, 0, 0.9) 0px 22px 70px 4px;
    }
}

main img:hover {
    animation: img-animation 2s ease-out forwards;
}

@media screen and (max-width: 899px){
    main {
        height: 2800px;
    }
}

@media screen and (max-width: 610px){
    main {
        height: 5000px;
    }
}

@media screen and (max-width: 610px){
    main img {
        width: 100%;
    }
}

@media screen and (max-width: 610px){
    main img:hover {
        animation: none;
        box-shadow: none; 
    }
}