.services div a {
    width: var(--servis-blok-width);
    height: var(--servis-blok-height);
    font-size: var(--servis-font-size);
    font-weight: 400;
    text-align: left;
    padding: 10px 0 0 10px;
    display: inline-block; 
    position: relative;
    top: var(--servis-position-top);
    text-align: left;
}

.services div {
    width: 100%;
    height: var(--servis-img-height);
    border-radius: 10px;
    opacity: 70%;
}

@keyframes services-opacity {
    from {
        opacity: 70%;
    }
    to {
        opacity: 100%;
    }
}

.services div:hover {
    animation: services-opacity 3s;
}

.metric {
    background: url(../img/Rectangle_1.jpg) 0 0 / cover  no-repeat;
}

.brend {
    background: url(../img/Rectangle_2.png) 0 0 / cover no-repeat;
}

.suvenir {
    background: url(../img/Rectangle_3.png) 0 0 / cover no-repeat;
}