.count {
    margin-top: 110px;
    width: 100%;
    background-color: red;
    display: block;
    color: white;
    width: 24px;
    border-radius: 20px;
    position: fixed;
    left: 35px;
    top: 0px;
    text-align: center;
}

